<h3>{{Titulo}} <small>{{TituloAccionABMC[AccionABMC]}}</small></h3>

<!-- Botones -->
<div class="row justify-content-center">
  <button type="button" class="btn btn-primary" (click)="Buscar();">
      <span class="fas fa-search"> </span> Buscar
    </button>
  &nbsp;
  <button type="button" class="btn btn-primary" (click)="Agregar()">
      <span class="fas fa-plus"> </span>
      Alta
    </button>
</div>


<!-- Tabla de resutados de busqueda y Paginador-->
<div id="divTablaResultados" *ngIf="AccionABMC == 'L' &&  Items?.length > 0">
  <table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th class="text-center">Id Producto</th>
        <th class="text-center">Nombre</th>
        <th class="text-center">Fecha alta</th>
        <th class="text-center">Stock</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of Items">
        <td class="text-center">{{item.ProductoID}}</td>
        <td class="text-left">{{item.ProductoNombre}}</td>
        <td class="text-center">{{item.ProductoFechaAlta| date:'dd/MM/yyyy'}}</td>
        <td class="text-center">{{item.ProductoStock}}</td>
      </tr>
    </tbody>
  </table>
</div>


<!-- Registro en Alta,Modificacion o Consulta -->
<form name="FormRegistro" *ngIf="AccionABMC != 'L'" [formGroup]="FormRegistro">
  <fieldset [disabled]="AccionABMC==='C'">
    <!--campo nombre de producto-->
    <div class="form-group row">
      <label class="col-form-label col-sm-2 offset-sm-2" for="ProductoNombre">
        Nombre<span class="text-danger">*</span>
      </label>
      <div class="col-sm-6">
        <input type="text" class="form-control text-uppercase" formControlName="ProductoNombre" [ngClass]="{'is-invalid':(FormRegistro.controls.ProductoNombre.touched || submitted) && FormRegistro.controls.ProductoNombre.errors}" />
        <span class="text-danger" *ngIf="(FormRegistro.controls.ProductoNombre.touched || submitted) && FormRegistro.controls.ProductoNombre.errors && FormRegistro.controls.ProductoNombre.errors.required ">
          Dato requerido
        </span>
        <span class="text-danger" *ngIf="(FormRegistro.controls.ProductoNombre.touched || submitted) && (FormRegistro.controls.ProductoNombre.errors?.minlength || FormRegistro.controls.ProductoNombre.errors?.maxlength)">Dato texto de 1 a 50 caracteres</span>
      </div>
    </div>

    <!--campo stock-->
    <div class="form-group row">
      <label class="col-form-label col-sm-2 offset-sm-2" for="ProductoStock">
      Stock  <span class="text-danger">*</span>
    </label>
      <div class="col-sm-6">
        <input
        type="text"
        name="ProductoStock"
        class="form-control"
        formControlName="ProductoStock"
        [ngClass]="{'is-invalid': (FormRegistro.controls.ProductoStock.touched || submitted)  && FormRegistro.controls.ProductoStock.errors}"
      />
        <span class="text-danger" *ngIf="(FormRegistro.controls.ProductoStock.touched || submitted) && FormRegistro.controls.ProductoStock.errors && FormRegistro.controls.ProductoStock.errors.required ">
        Dato requerido
      </span>
        <span class="text-danger" *ngIf="(FormRegistro.controls.ProductoStock.touched || submitted) && FormRegistro.controls.ProductoStock.errors?.pattern">
        Dato numérico, 1 a 10 dígitos.
      </span>
      </div>
    </div>

    <!--campo fechaalta-->
    <div class="form-group row">
      <label class="col-form-label col-sm-2 offset-sm-2">
      Fecha de alta <span class="text-danger">*</span>
    </label>
      <div class="col-sm-6">
        <input
        class="form-control"
        name="ProductoFechaAlta"
        formControlName="ProductoFechaAlta"
        [ngClass]="{'is-invalid': (FormRegistro.controls.ProductoFechaAlta.touched || submitted)  && FormRegistro.controls.ProductoFechaAlta.errors}"
      />
        <span class="text-danger" *ngIf="(FormRegistro.controls.ProductoFechaAlta.touched || submitted) && FormRegistro.controls.ProductoFechaAlta.errors && FormRegistro.controls.ProductoFechaAlta.errors.required ">
        Dato requerido
      </span>
        <span class="text-danger" *ngIf="(FormRegistro.controls.ProductoFechaAlta.touched || submitted) && FormRegistro.controls.ProductoFechaAlta.errors?.pattern">
        Dato fecha, formato dd/mm/aaaa.
      </span>
      </div>
    </div>
  </fieldset>

  <!-- Botones Grabar, Cancelar/Volver' -->
  <hr />
  <div class="row justify-content-center botones">
    <button type="button" class="btn btn-primary" (click)="Grabar()">
      <i class="fas fa-check"></i> Grabar
    </button>
    &nbsp;
    <button type="button" class="btn btn-warning" (click)="Volver()">
      <i class="fas fa-undo"></i>Cancelar
    </button>
  </div>

</form>